### Data cleaning
* Importing the data set(csv)

* observe the Data set
     * Identify the rows/columns and their relation
     * Identify the Index column(primary key column)
     * check if there are any duplicagte column
     * which rows to be skipped
    
* Assign the index column(to avoid creation of new index)
* skip irrelevant rows(to avoid display of index row)
* drop the duplicate/irrelevant columns

In [2]:
import pandas as pd
df = pd.read_csv('olympics.csv',index_col=0,skiprows=1)
df

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

## Data Retrival
* Index column 
* coloum names
* Second columns
* Any Column
* First Row
* Any Row
* Single Cell data

In [28]:
df.index #Returns the Index column  
df.columns # Returns the column names or first row
df["Total"] # Returns Total column->total medals 
df["Total.1"]# Returns the Total.1 column
df.head(1) # Returns sub data frame with the specified
df.index[0]
df.loc['India (IND) [F]'] # Returns a single row
df.index[1]# Returns the second country name
df['01 !'][4] # Returns the gold medals won by the fifth country(column-->row)
df.iloc[4][1]# Returns the gold medals won by fifth country(Row-->column)
df.loc['India (IND) [F]'][-2]

11

In [29]:
# Return the name of the first country in the Data

df.index[-1]

'Totals'

In [4]:
# Return the total number of games participated by the 10th country in summer olymoics
df['№ Summer'][9]

8

In [32]:
#Return the total medals won by the last country
df['Combined total'][-1]

17579

In [33]:
# Returns the column name
# difference between summer gold medal o
#Maximum gold medal count in winter olymipics
df['01 !'].max()

4809

In [34]:
#Sum of all gold medals in the summer olympics
df['01 !'].sum()

9618

In [35]:
# Return a boolean series object for the maximum number of gold medals in the summer

df['01 !'] == df['01 !'].max()

Afghanistan (AFG)                               False
Algeria (ALG)                                   False
Argentina (ARG)                                 False
Armenia (ARM)                                   False
Australasia (ANZ) [ANZ]                         False
                                                ...
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                            False
Mixed team (ZZX) [ZZX]                          False
Totals                                           True
Name: 01 !, Length: 147, dtype: bool